/* Made with love by Mutiullah Samim*/

@import url('https://fonts.googleapis.com/css?family=Numans');

html,body{
//background-image: url('http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg');
//background-image: url('images/city.jpg');
background-size: cover;
background-repeat: no-repeat;
height: 100%;
font-family: 'Numans', sans-serif;
}

input {
color: #FFFFFF;
font-size: 20px;
}

.container{
height: 100%;
align-content: center;
}

.card{
height: 370px;
margin-top: auto;
margin-bottom: auto;
width: 400px;
background-color: rgba(0,0,0,0.5) !important;
}

.social_icon span{
font-size: 60px;
margin-left: 10px;
color: #FFC312;
}

.social_icon span:hover{
color: white;
cursor: pointer;
}

.card-header h3{
color: white;
}

.social_icon{
position: absolute;
right: 20px;
top: -45px;
}

.input-group-prepend span{
width: 50px;
background-color: #FFC312;
color: black;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.remember{
color: white;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.login_btn{
color: black;
background-color: #FFC312;
width: 100px;
}

.login_btn:hover{
color: black;
background-color: white;
}

.select_btn{
border-left: solid 6px #ff7c5c;/*¶ü*/
color: #FFFFFF;
background-color: #696969;
width: 180px;
}

.select_btn:hover{
border-left: solid 6px #AEFF5E;/*¶ü*/
color: #000000;
background-color: white;
}

.edit_btn{
border-left: solid 6px #ff7c5c;/*¶ü*/
color: #FFFFFF;
background-color: #696969;
}

.edit_btn:hover{
border-left: solid 6px #AEFF5E;/*¶ü*/
color: #000000;
background-color: white;
}

.page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #FFFFFF;
  background-color: #696969;
  border: 0px solid #346767;
border-left: solid 6px #ff7c5c;
}
.page-item.disabled .page-link {
  color: #868e96;
  pointer-events: none;
  cursor: auto;
  background-color: #CEFFCE;
  border-color: #718393;
}
.page-item.active .page-link {
  z-index: 1;
  color: #000000;
  background-color: #FFFFFF;
  border-color: #AEFF5E;
}
.page-link:focus, .page-link:hover {
  color: #000000;
  text-decoration: none;
  background-color: #FFFFFF;
  border-color: #AEFF5E;
}

.new_reg_btn:hover{
color: black;
background-color: white;
border-color: white;
}

.links{
color: white;
}

.links a{
margin-left: 4px;
}


table{
border: solid 1px white;
table-layout: fixed;
word-wrap: break-word;
background-color: rgba(0,0,0,0.5) !important;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, 
.table>thead>tr>th {
vertical-align: middle;
}

.cp_bgpattern05 {
	background-color: #FFFDE7;
	background-size: 80px 80px;
	background-image:
	 linear-gradient(rgba(215,204,200,.7) 1%, rgba(215,204,200,.7) 1%, transparent 1%,
	  transparent 99%, rgba(215,204,200,.7) 99%, rgba(215,204,200,.7) 100%),
	 linear-gradient(90deg, rgba(215,204,200,.7) 1%, rgba(215,204,200,.7) 1%, transparent 1%,
	  transparent 99%, rgba(215,204,200,.7) 99%, rgba(215,204,200,.7) 100%),
	 linear-gradient(transparent, transparent 25%, rgba(215,204,200,.4) 25%, rgba(215,204,200,.4) 26%, transparent 26%,
	  transparent 50%, rgba(215,204,200,.4) 50%, rgba(215,204,200,.4) 51%, transparent 51%,
	  transparent 75%, rgba(215,204,200,.4) 75%, rgba(215,204,200,.4) 76%, transparent 76%, transparent 100%),
	 linear-gradient(90deg, transparent, transparent 25%, rgba(215,204,200,.4) 25%, rgba(215,204,200,.4) 26%, transparent 26%,
	  transparent 50%, rgba(215,204,200,.4) 50%, rgba(215,204,200,.4) 51%, transparent 51%,
	  transparent 75%, rgba(215,204,200,.4) 75%, rgba(215,204,200,.4) 76%, transparent 76%, transparent 100%);
}

.cp_bgpattern06 {
	background-size: 80px 80px;
	background-image:
	 linear-gradient(rgba(215,204,200,.7) 1%, rgba(215,204,200,.7) 1%, transparent 1%,
	  transparent 99%, rgba(215,204,200,.7) 99%, rgba(215,204,200,.7) 100%),
	 linear-gradient(90deg, rgba(215,204,200,.7) 1%, rgba(215,204,200,.7) 1%, transparent 1%,
	  transparent 99%, rgba(215,204,200,.7) 99%, rgba(215,204,200,.7) 100%),
	 linear-gradient(transparent, transparent 25%, rgba(215,204,200,.4) 25%, rgba(215,204,200,.4) 26%, transparent 26%,
	  transparent 50%, rgba(215,204,200,.4) 50%, rgba(215,204,200,.4) 51%, transparent 51%,
	  transparent 75%, rgba(215,204,200,.4) 75%, rgba(215,204,200,.4) 76%, transparent 76%, transparent 100%),
	 linear-gradient(90deg, transparent, transparent 25%, rgba(215,204,200,.4) 25%, rgba(215,204,200,.4) 26%, transparent 26%,
	  transparent 50%, rgba(215,204,200,.4) 50%, rgba(215,204,200,.4) 51%, transparent 51%,
	  transparent 75%, rgba(215,204,200,.4) 75%, rgba(215,204,200,.4) 76%, transparent 76%, transparent 100%);

}